<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      <section name="rewrite-provider-logging" type="Common.Logging.ConfigurationSectionHandler, Gems.Web.RewriteModule.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fa8a31ef1fee564" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="metrics" type="Gems.Metrics.Configuration.MetricsConfigurationSection, Gems.Metrics" />
  </configSections>
  <log4net>
    <root>
      <level value="TRACE" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog32">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
    <rewrite-provider-logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Gems.Web.RewriteModule.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fa8a31ef1fee564">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="{log4net-config-path}" />
      </factoryAdapter>
    </rewrite-provider-logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true">
    <extensions>
      <add assembly="Gems.Logging.NLog.Extensions" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" fileName=".\Logs\${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid}}] ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
    </targets>
    <rules>      
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <system.webServer>
    <rewrite>
      <providers>
        <provider name="RwPublic" type="Gems.Web.RewriteModule.Extensions.PublicUrlRewriteProvider, Gems.Web.RewriteModule.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fa8a31ef1fee564">
          <settings>
            <add key="config-path" value="{APPL_PHYSICAL_PATH}Web.config" />
            <add key="common-logging-section" value="common/rewrite-provider-logging" />
            <add key="log4net-config-path" value="{APPL_PHYSICAL_PATH}rewriter.log4net.config" />
          </settings>
        </provider>
        <provider name="RwStatic" type="Gems.Web.RewriteModule.Extensions.StaticUrlRewriteProvider, Gems.Web.RewriteModule.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fa8a31ef1fee564">
          <settings>
            <add key="config-path" value="{APPL_PHYSICAL_PATH}Web.config" />
            <add key="log4net-config-path" value="{APPL_PHYSICAL_PATH}rewriter.log4net.config" />
            <add key="common-logging-section" value="common/rewrite-provider-logging" />
          </settings>
        </provider>
      </providers>
      <rules>
        <rule name="rewrite-for-old-autochecks" stopProcessing="true">
          <match url="^(jira)\/(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^\/(jira)\/(.*)$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/results_root/{R:2}" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
        <rule name="rewrite-all" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/results_root/testrail/{R:1}" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite,RequestRouting" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="400-505" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <metrics adapterFactory="Gems.Metrics.DataDog.DataDogMetricLoggerAdapterFactory, Gems.Metrics.DataDog">
    <add key="statsdServerName" value="datadog.stage.stage" />
    <add key="statsdPort" value="8125" />
    <add key="tags" value="product:testrailresults,stage:griffin" />
  </metrics>
</configuration>